/*Featured.css*/

.featured {
    font-family: 'Poppins';
    padding-right: 1em;
    display: grid;
    grid-template-columns: 1fr;/*skal ændres, når jeg fetcher*/
    grid-template-rows: 1fr;/*skal ændres, når jeg fetcher*/
}
.featured__image {
    grid-area: 1 / 1 / 2 / 2;
    width: 325px;
    height: 425px;
    place-self: center;
    padding-bottom: 2em;
    padding-left: 1.5em;
}

.featured__headlines {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 1;
    align-self: center;
    padding-left: 3.5em;
    padding-top: 10em;
}
.featured__h1 {
    font-size: 32px;
    color: white;
  
}
.featured__h2 {
    font-size: 12px;
    color: white;
    font-weight: 300;
}
.featured__headline {
    font-family: 'Poppins';
    font-weight: 900;
    padding-top: 1.5em;
    padding-left: 1em;
    background: -webkit-linear-gradient(0deg ,#EE0979, #FF6A00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 40px;
}