/*Featured.css*/

.featured {
    padding-right: 1em;
    display: grid;
    grid-template-columns: 1fr;/*skal ændres, når jeg fetcher*/
    grid-template-rows: 1fr;/*skal ændres, når jeg fetcher*/
}
.featured__image {
    grid-area: 1 / 1 / 2 / 2;
}
.featured__shadow { /*skal ændres senere*/
    grid-area: 1 / 1 / 2 / 2;
    z-index: 1;
    align-self: end;
}
.featured__headlines {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 1;
    align-self: center;
    padding-left: 3.5em;
    padding-top: 10em;
}
.featured__h1 {
    font-size: 32px;
    color: white;
  
}
.featured__h2 {
    font-size: 12px;
    color: white;
    font-weight: 300;
}
.featured__headline {
    padding-top: 2em;
    padding-left: 2.5rem;
    background: var(--gradientColor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}