:root {
    --primaryColor: #FF1168;
    --secondaryColor: #341931;
    --additionalColor: #111625;
    --gradientColor : linear-gradient(to right,#EE0979, #FF6A00);
    --blue: #115793;
    --lightblue: #00A1CB;
    --turquoise: #0ABEBE;
    --green: #3A7634;
    --lightgreen: #5EB11C;
    --yellow: #F2BC06;
    --orange: #F18D05;
    --blues: #E54028;
}